<!DOCTYPE html>
<html lang="en">
  <head>
   {{>headerLink}}

    
  <body>
         {{>navbar}}

    <img src="https://cdn.vectorstock.com/i/500p/70/51/404-page-not-found-error-layout-template-vector-53517051.jpg" alt="">

     {{>footer}}
</body>
</html>






