<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/userDetails.css">
    <title>User Details</title>
</head>
<body>
    <div class="card">
        <h2>User Details</h2>
        <p><strong>Name:</strong> Vishnu</p>
        <p><strong>Email:</strong> shindevishal00126@gmail.com</p>
        <p><strong>Phone:</strong> 9970710108</p>
        <p><strong>Address:</strong> DD</p>
        <p><strong>City:</strong> Pune</p>
        <p><strong>State:</strong> Maharashtra</p>
        <p><strong>ZIP:</strong> 412401</p>
        <p><strong>Country:</strong> India</p>
    </div>
</body>
</html>
